<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="hanghae99 mini blog" />
    <meta property="og:description" content="mini blog for hanghae99 project" />
    <meta property="og:image" content="/images/favicon.ico" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title> My Mini Board | Detail </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link href='/css/main.css' rel="stylesheet">
    <script src="scripts/api.js"></script>

    <style>
        .container {
            width: 80%;
            max-width: 800px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;

            border: solid 1px gray;
            border-radius: 10px;
        }

        span.example {
            color: gray;
            font-size: 14px;
        }

        .btn-sparta {
            color: #fff;
            background-color: #eebd1d;
            border-color: #eebd1d;
        }

        .btn-outline-sparta {
            color: #eebd1d;
            background-color: transparent;
            background-image: none;
            border-color:
                #eebd1d;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <div class="banner" onclick="window.location.href = '/'"></div>
        <div class="container">
            <div class="exist-post">
                <div class="d-flex justify-content-between align-items-center"">
                    <div>
                        <h1 id=" title">
                    <%= post.title %>
                        </h1>
                </div>
                <div class="edit-btn">
                    <!-- <button onclick='window.location.href="/post?id=<%= post.id %>"' id="btn-edit"
                        class="btn btn-outline-sparta btn-lg">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button> -->
                </div>
            </div>
            <hr>
            <label id="nickname"><%=post.nickname%></label>
            <hr>
            <div id="content">
                <p>
                    <%=post.content%>
                </p>
            </div>
        </div>
    </div>

    <div id="comments" class="container">

        <h3 style="text-align: center;margin-bottom:1rem">댓글</h3>
        <div class="d-flex justify-content-between" style="margin-left:20px;">
            <input id="new-comment" class="form-control form-control-sm" style="margin-right: 0.5rem">
            <button class="btn btn-outline-secondary btn-sm" onclick='comment_save("<%=post.id%>")'>등록</button>
        </div>
        <ul id="comment-list">
        </ul>

    </div>
    </div>
</body>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const postId = urlParams.get("id");
    let user = {nickname:'need login'};

    $(document).ready(function () {
        get_comments(postId)
    })

    if (localStorage.getItem('token')) {
        $.ajax({
            type: "GET",
            url: "/api/users/me",
            async: false,
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
            success: function (response) {
                user = response.user
            }
        })
        if (user.nickname === $('#nickname').text()) {
            let temp_html = `<button onclick='window.location.href="/post?id=<%= post.id %>"' id="btn-edit"
                        class="btn btn-outline-sparta btn-lg">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>`
            $('.edit-btn').append(temp_html)
        }
    } else {
        const loginCheck = document.getElementById('new-comment')
        loginCheck.addEventListener('focus', (event) => {
        $('#new-comment').blur()
        alert('로그인이 필요한 기능입니다.');
        location.href = '/login'
        }, true);
    }

    async function comment_save(id) {
    if (localStorage.getItem('token')) {
        let content = $('#new-comment').val();
        let nickname = user.nickname
        if (content === '') {
            alert('댓글 내용을 입력해주세요!')
            return;
        }
        $.ajax({
            type: 'PUT',
            url: `/api/comment?id=${id}`,
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
            data: {
                nickname: nickname,
                content: content,
                date: getCurrentDate()
            },
            success: function (response) {
                alert('저장 완료!');
                get_comments(postId);
            },
        });
    } else {
        alert('로그인이 필요한 기능입니다.');
        location.href = '/login';
    }
}
    function get_comments(id) {
        $('#comment-list').empty();
        $('#new-comment').val('');
        $.ajax({
            type: 'GET',
            url: `/api/comment?id=${id}`,
            data: {
            },
            success: function (response) {
                let comments = response.comments
                for (let i=0; i<comments.length; i++) {
                    if (user.nickname === comments[i].nickname) {
                        let temp_html = `<li id="comment-${i}">${comments[i].nickname} / ${comments[i].content} / ${comments[i].date}&nbsp;&nbsp;&nbsp;<a href="javascript:editCommentOpen('${comments[i].id}',${i})">수정</a>
                &nbsp;&nbsp;&nbsp;<a href="javascript:deleteComment('${comments[i].id}',${i})">삭제</a>
            </li>`
                        $('#comment-list').append(temp_html);
                    } else {
                        temp_html = `<li id="comment-${i}">${comments[i].nickname} / ${comments[i].content} / ${comments[i].date}</li>`
                        $('#comment-list').append(temp_html);
                    }
                }
            },
        });
    }

    function editCommentOpen(id, num) {
        console.log(id)
        let content = $(`#comment-${num}`).text().split('/')[1].trim() 
        $(`#comment-${num}`).empty();
        let temp_html = `<input id="edit-comment-${num}" class="form-control form-control-sm" style="margin-right: 0.5rem" value="${content}"><button class="btn btn-outline-secondary btn-sm" onclick='editComment("${id}", ${num})'>수정</button><button class="btn btn-outline-secondary btn-sm" onclick='get_comments(postId)'>취소</button>`
        $(`#comment-${num}`).append(temp_html)
    }

    function editComment(id, num) {
        let content = $(`#edit-comment-${num}`).val();
        if (content === '') {
            alert('수정 내용을 입력해주세요!')
            return;
        }
        $.ajax({
            type: 'PATCH',
            url: `/api/comment?commentId=${id}`,
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
            data: {
                content: content,
            },
            success: function (response) {
                alert('수정 완료!');
                get_comments(postId);
            },
        });
    }

    function deleteComment(id, num) {
        if (confirm('정말로 삭제하시겠습니까?')) {
            $.ajax({
            type: 'delete',
            url: `/api/comment?commentId=${id}`,
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
            success: function (response) {
                alert('삭제 완료!');
                get_comments(postId);
            },
        });
        } else {
            get_comments(postId);
        }
    }


</script>

</html>